/* styles.css */
.container {
    padding: 20px;
}

.container a {
    color: #d2d2d2;
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.container a:hover {
    color: #0d47a1;
}

.container .MuiTypography-root { 
    margin-bottom: 15px; 
}

.container .MuiSvgIcon-root { 
    vertical-align: middle; 
    margin-right: 10px; 
    font-size: 24px; 
}
