.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Se asegura de que homeContainer cubra al menos toda la altura de la ventana del navegador */
  justify-content: center; /* Centra los contenidos verticalmente */
  align-items: center;    /* Centra los contenidos horizontalmente */
}

.intro {
  text-align: center;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 3px 3px 5px #000000;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
}

.intro h1 {
  font-size: 5vw; /* Ajusta el tamaño según lo necesites. 8vw es solo una sugerencia */
  text-align: center; 
  margin-top: 11rem; 
  margin-bottom: 10rem; 
}

/* Estilos generales ya definidos... */

.about, .projects, .contactMe {
  padding: 20px; /* Añade algo de padding */
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .intro h1 {
      font-size: 1.7rem;
      margin-bottom: 10px; 
  }

  .about, .projects, .contactMe {
      padding: 10px; /* Reduce el padding en dispositivos móviles */
  }
}
